.stars {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(5, $starSize);

  &__star {
    background-image: url("../images/star.svg");
    background-repeat: no-repeat;
    background-position: center;

    width: $starSize;
    height: $starSize;
  }

  .star-active {
    background-image: url("../images/star-active.svg");
  }
}
