@mixin centeredFlex {
  display: flex;
  justify-content: center;
}

@mixin spaceBetweenFlex {
  display: flex;
  justify-content: space-between;
}

@mixin centeredGrid {
  display: grid;
  justify-content: center;
}

@mixin spaceBetweenGrid {
  display: grid;
  justify-content: space-between;
}

@mixin spaceAroundGrid {
  display: grid;
  justify-content: space-around;
}
